:root {
    --border_select: #D9D9D9;
    --main_popup_back: #ffffff;
    --main_title_spec: rgba(68, 68, 68, 0.85);
    --main_back_inputs: #f9f9f9;
    --main_multiselect_text: #444444;
    --audio_back: #f2f7ff;
    --select_tasks: rgb(255, 255, 255);
    --main_text_panel: #ffffff;
    --logo_url:url(../images/svg/lv_logo_v2.svg);
    --menu_icon_color: rgba(68, 68, 68, 0.82);
    --hover_panel_buttons: rgba(255, 255, 255, 0.48);
    --mode_ico_url:url(../images/svg/moon34.svg);
    --main_header_back: #ffffff;
    --arrow_url:url(../images/svg/arrow_down_b.svg);
    --value_colors_t: #5FB989;
    --mobile_panel_back: linear-gradient(166deg, #2AB07A 10.25%, #30B07D 95.32%);
    --value_colors_a: #A481BB;
    --value_colors_s: #FF4D5A;
    --url_object: url(../images/png/ss.png);
    --lin: #22A4FC;
    --vis: #2AB07A;
    --selected_theme_text_color:#444444;
    --main_text_panda_color:rgba(68, 68, 68, 0.73);
    --main_menu_nav_back_mobile:rgb(255, 255, 255);
    --main_swap_mode_text: #888 !important;
    --main_back_message_url: url(../images/svg/cloud_dialog_panda5.svg);
    --main_menu_nav_back: rgba(255, 255, 255, 0.76);
    --main_panels_color:rgba(255, 255, 255, 0.64);
    --main_background_color: #F9F9F9;
    --panel_item_color:#EEF8FF;
    --format_back: rgba(255, 255, 255, 0.29);
    --main_color: #2AB07A;
    --main_menu_nav_hover: rgba(0, 0, 0, 0.02);
    --button_special: #2AB07A;
    --copyright_text: #585858;
    --main_panel_task: rgba(255, 255, 255, 0.66);
    --main_back_l: #ffffff;
    --border_item_nav: rgba(246, 246, 246, 0.32);
    --select_border: #e8e8e8;
    --back_item_nav:linear-gradient(162deg, rgba(255, 255, 255, 0.96) 6.31%, rgba(255, 255, 255, 0.74) 52.42%, rgba(255, 255, 255, 0.94) 94.83%);
    --selected_option_t:#35495e;
    --selected_hover:#41b883;
    --selected_option: #f3f3f3;
    --main_back_input: #8e8e91;
    --main_light_l:#A0A0A0;
    --panel_color: #2AB07A;
    --main_h2_general_title: #A0A0A0;
    --main_title_header: #444444;
    --main_gradient: linear-gradient(180deg, #B2E299 0%, #03A171 100%);
    --main_title: #444444;
    --main_text: #333333;
    --main_gray: #D1D0D5;
    --main_gray_v2: #D9D9D9;
    --main_blue: #22A4FC;
    --main_block: #F6F5FC;
    --main_title_background: #F4F6FC;
    --main_bad: #E83636;
    --main_input: #F9F9F9;
    --search_input: #F5F5FC;
    --foter_color: #585858;
    --main_logo_gray: #D1D0D5;
    --main_color_v2: #5FB989;
    --main_color_v3: #FF4D5A;
    --main_color_v4: #A481BB;
    --main_multiselect_selected_r:#35495e;
    --main_multiselect_selected_back:#ffffff;
    --main_multiselect_selected: #35495e;
    --main_footer_gmail: #2AB07A;
}